.app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 325px;
  min-height: 667px;
  background: #3b4664;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;
}
@media screen and (min-width: 1000px) {
  .app {
    min-width: 1000px;
    min-height: 900px;
  }
}
